*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f5f6fa;
}
.app_header{
  display: flex;
  justify-content: space-between;
}
.app_stats{
display: flex;
justify-content: space-between;
}
.app_stats Infobox{
  padding: 10px;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

}
.app_left{
  flex: 0.9;
}
.sel{
  background-color: white;
  margin-bottom: 10px;
}

@media (max-width: 980px){
  .app{
    flex-direction: column;
  }
}