.setrow{
    display: flex;
    justify-content:left;
}
.form-control {
    padding: 0px;
    width: 50%;
   
  }
  .form-group{
      width: 120px;
  }
  .icon{
      display: flex;
      width: 100px;
      justify-content: space-evenly;
      align-items: center;
  }
  input{
      text-align: center;
  }


