
.mainapp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 button{
width: 50px;
height: 20px;

}
input{
width: 200px;
    height: 30px;
    margin-bottom: 5px;
}
